/* @import 'c/dxVisCssUtility'; */

.customBoleanBottom {
    border-radius: 3px;
    padding: 3px 10px;
}
.dx-vis-table-sticky {
    table-layout: fixed;
    border: 1px solid #c9c9c9;
}
.dx-vis-table-sticky thead th {
    position: sticky;
    top: -16px;
    z-index: 1;
}