.list-card-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    width: 100%;
    margin: 0.75rem 0;
}
.list-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-bottom-right-radius: 0.6rem !important;
    border: 1px solid #C6C6C6;
}