.env-gate-popup {
    background-image: linear-gradient(90deg,#0f0c29,#302b63,#24243e);
    z-index: 20;
}

.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #595959;
}
.custom-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #595959;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
}