.rounded-bottom-right-1 {
    border-bottom-right-radius: .876rem !important;
}
.row-card {
    min-height: 85px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.row-card-border-success {
    border: 1px solid #42BB73;
    border-left: 6px solid #42BB73;
}
.row-card-border-fail {
    border: 1px solid #EF4747;
    border-left: 6px solid #EF4747;
}
.row-card .text-header {
    color: #2A8CC3;
}
.row-card .small {
    font-size: .775em;
}
.result-pill {
    width: 85px;
    height: 22px;
}
/* Popover styles */
.slds-popover {
    display: none;
    position: absolute;
    left: 4%;
    top: 0;
}
.automation-detail-popover:hover + .slds-popover {
    display: block;
}
/*Toggle more details*/
.toggle-box {
    display: none;
  }
  
  .toggle-box + label {
    cursor: pointer;
    display: block;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 5px;
  }
  
  .toggle-box + label + div {
    display: none;
  }
  
  .toggle-box:checked + label + div {
    display: block;
  }
  
  .toggle-box + label:before {
    background-color: #b9bb42;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    content: "+";
    display: block;
    float: left;
    font-weight: bold;
    height: 20px;
    line-height: 15px;
    margin-right: 5px;
    text-align: center;
    width: 20px;
    padding-left: 1px;
  }
  
  .toggle-box:checked + label:before {
    content: "\2212";
  }