.card-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
}
.card {
    /* border: 1px solid #6c757d; */
}
h5 {
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: #6c757d;
}
a code {
    color: inherit;
    text-decoration: none;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: 1px solid #b7b7b7;
}