/* Styles for the Kanban 360 View */

/* Container */

/* Card-like styling */
.slds-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Adjust space between cards */
    padding: 20px;
}

.vew-360-labels {
    color: #5A5A5A;
    font-size: 12px;
}
.vew-360-label-values {
    color: #212121;
    font-size: 13px;
    font-weight: 500;
    max-width: 130px;
}
/* Heading styles */
.slds-card h3 {
    margin-bottom: 10px;
}

/* Individual data items */
.status-item {
    margin-bottom: 10px;
}

/* Space between ZTT and PDT data */
.slds-m-top_medium {
    margin-top: 20px;
}
.status-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Left Column (Risk/Prod Values) */
.slds-col {
    flex: 1 1 48%; /* Adjust flex value to control column width */
    margin-right: 20px; /* Adjust margin between columns */
}

/* Right Column (ZTT/PDT Data) */
.slds-col:last-child {
    flex: 1 1 48%; /* Adjust flex value to control column width */
}

.slds-list_horizontal {
    list-style: none;
    margin: 0;
    padding: 0;
}
.slds-border_around {
    border: 1px solid #CCCCCC;
}

.slds-box-inner-card {
    padding: 5px;
    margin-top: -10px;
}
.slds-p-around_inner-status {
    padding: 3px;
    line-height: 28px;
}
.custom-badge {
    background: #9FD3E0;
    margin-left: 15px;
    font-size: 11px;
    padding: 2px 8px;
}
.view-360-card-footer-list {
    margin-top: 10px;
}
.button-fake-link {
    font-size: 12px;
    border: 0;
    padding: 0;
    color: #2387c2;
    text-decoration: underline;
}
.button-fake-link:hover {
    text-decoration: none;
    cursor: pointer;
}
.view-360-card-footer-list li button {
    font-size: 12px;
    padding: 0px 5px;
    border: 0;
    border-right: 1px solid #c7c7c7;
    color: #2387c2;
    text-decoration: underline;
}
.view-360-card-footer-list li {
    padding: 0px;
}
.view-360-card-footer-list li button:hover {
    text-decoration: none;
    cursor: pointer;
}
.view-360-card-footer-list li:last-child button {
    border-right: 0px;
    padding-right: 0px;
}
.view-360-card-footer-list li:first-child button {
    padding-left: 0px;
}