/* Kanban Card */
.bg-dark-blue {
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
.popover-risk-profile div:nth-child(1):after {
    border-right-color: #0f0c29 !important;
}
.orange {
    background-color: #fd7e14;
    color: #212529;
}
.lime-green {
    background-color: #68d168;
    color: #212529;
}
.magenta {
    background-color: #d105d1;
    color: #fff;
}
.b-orange {
    border: 1px solid #ca6510 !important;
}
.b-lime-green {
    border: 1px solid #146c43 !important;
}
.b-magenta {
    border: 1px solid #ab296a !important;
}
.kanban-card {
    cursor: default;
    box-shadow: 0px 2px 3px 0px #adb5bd;
    border-radius: 0.45rem !important;
}
.kanban-card:hover {
    background-color: #f2f2f2;
}
.kanban-card header {
    padding: 0.25rem 0.5rem;
    border-radius: 6px 6px 0 0;
}
.kanban-card header h5 {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
}
.kanban-card .card-content {
    padding: 0.5rem;
}
.kanban-card .card-content p {
    margin: 0;
    font-size: 0.75rem;
}
.indicator-container {
    margin: 0.25rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide {
    display: none;
}
.slide div {
    font-size: 12px;
}
.quality-details {
    position: absolute;
    top: -10px;
    left: 10px;
}
.kanban-card {
    background: #fff;
    min-height: 279px;
}
.kanban-card:hover {
    z-index: 1;
    background: none;
    border: none;
    cursor: default;
}
.kanban-card:hover .card-box {
    min-width: 184px;
    border-radius: 6px;
    box-shadow: 1px 1px 7px 2px #868e92;
    transition: 0.6s;
    transform: translateY(-25%);
    position: absolute;
    top: 0;
    left: -4%;
    right: 0rem;
    background: -webkit-radial-gradient(top left, ellipse, #002c4e 0%, transparent), linear-gradient(to bottom, #0d385c, #2272b1 60%, #002542, #020f18);
    color: #e9ecef;
}
.kanban-card:hover .slide {
    display: block;
    position: relative;
}
.kanban-card:hover .dark-label {
    border-bottom: 1px solid #495057;
}
.kanban-card:hover .dark-label .lbl {
    color: #adb5bd;
}
.kanban-card:hover .card-footer {
    border-top: 1px solid #6c6c6c;
}

.custom-scroll {
    overflow: hidden auto;
}
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #595959;
}
.custom-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #595959;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
}
.custom-circle div {
    font-size: 9px !important;
}
/* Card footer vutton */
.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
.fa-2x {
    font-size: 2em;
}
.Icon_white {
    color: #fff;
}
.env-gate-status .slds-dropdown {
    padding: 0;
    max-width: 220px;
    /* --slds-c-modal-header-color-background: #fd7e14; */
}