.view-360-card {
    border-style: solid;
    border-width: 1px;
    min-height: 300px;
}
.header-360 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    min-height: 55px;
    background: #E8F5EB;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.view-360-card.risk-red::after {
    content: '';
    background-image: url('/resource/visualizer_images/risk-red.svg');
    position: absolute;
    right: -6px;
    bottom: -6px;
    width: 30px;
    height: 30px;
}
.view-360-card.risk-green::after {
    content: '';
    background-image: url('/resource/visualizer_images/risk-green.svg');    
    position: absolute;
    right: -6px;
    bottom: -6px;
    width: 30px;
    height: 30px;
}
.risk-red {
    border-color: #B80A00;
}
.risk-red .header-360 {
    background: #F5E8E8;
    border-color: #B80A00;
}
.risk-green {
    border-color: #a5c8ad;
}
.risk-green .header-360 {
    background: #B6DEBF;
    border-color: #a5c8ad;
}
.slds-list_horizontal li.slds-item {
    padding: 2px 4px;
    font-size: 12px;
    color: #696969;
    border-left: 1px solid #c5c5c5;
    font-weight: 500;
}
.slds-list_horizontal li.slds-item:first-child {
    border-left: none;
    padding-left: 0px;
}