/* .slds-popover {
    position: absolute;
    z-index: 9999;
}

.popover-wrapper {
    position: relative;
}

.slds-nubbin_bottom-left {
    top: 100%;
    left: 0;
} */
.tooltip-container {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 240px;
    background: white;
    border: 1px solid #d8dde6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}