.controls-container {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0; */

    display: flex;
    align-items: center;
    margin: 10px 0;
    padding-left: 282px;
    padding-top: 25px;
}

.filters-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f4f6f9;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filters-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.filter-item {
    margin-bottom: 5px;
}

.reset-button {
    /* margin-left: 20px;
    align-self: center; */

    margin-left: 20px;
    position: absolute;
    top: 139px;
    right: 302px;
}