.view-360-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}
.slds-box .view-360-box:first-child .view-360-header:first-child {
    margin-top: -1px;
    border-radius: 3px 3px 0 0;
}

.header-360-right-icons .img-box {
    background: #CBB649;
    border: 1px solid #A79742;
    margin-left: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
}
.header-360-right-icons .img-box img {
    width: 20px;
    height: 20px;
}