.package-icon {
    height: 35px;
    width: 35px;
    padding: 4px 7px;
    margin: 5px 0px;
}
.package-icon-org-dep {
    background-color: #F1736B;
}
.package-icon-org-non-dep{
    background-color: #63CB8D;
}
.card-small {
    font-size: .775em;
}
.list-info-icon:hover {
    background-color: #5f7b7f !important;
}