/* kanban Section */
.kanban-section {
    background-color: #fafafa;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    position: relative;
}
.kanban-section .kanban-section-header {
    background-color: #0d6efd;
    margin-left: -8px;
    padding: 0.1rem 0;
}
.kanban-section .kanban-section-header .section-header {
    color: #fff;
    padding: 0.25rem;
    display: flex;
    gap: 0.5rem;
}
.kanban-section .kanban-section-header .section-header p {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 0;
}
.kanban-section .section-container {
    padding: 0.75rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.75rem;
}
.kanban-section .kanban-section-header::before {
    position: absolute;
    top: 8px;
    left: 0px;
    content: '';
    background: #084298;
    height: 31px;
    width: 25px;
    transform: rotate(50deg);
    z-index: -1;
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}