.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #595959;
}
.custom-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #595959;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
}

/* Package owner styles */
.card{
    border-radius: 25px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 8px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 10px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #9eb8dd;
    border-radius: 10px 10px 0 20px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #9eb8dd;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #9eb8dd;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    width: 100%;
    text-align: center;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
    width: 100%;
  }
  /* Select styles */
  .pointer {
    cursor: pointer;
  }