/* Custom progressstyle */
.grade {
    font-size: 8px!important;
    padding: 0 5px;
    height: 15px;
    margin-left: -1px;
    color: #adb5bd;
}
.grade-active {
    margin-top: -3px;
    font-size: 10px!important;
    padding: 2px 6px;
    height: 21px;
    opacity: 1;
    box-shadow: 0 1px 1px rgba(9,30,66,.25), 0 0 1px 1px rgba(9,30,66,.13);
}
.bg-orange-400 {
    background-color: #fd9843!important;
}
.animated-progress {
    width: 85px;
    height: 15px;
    border-radius: 2px;
    margin: 0;
    border: 1px solid #6c757d;
    overflow: hidden;
    position: relative;
    background: #6c757d;
}
.animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: #f8f9fa;
    line-height: 13px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
    font-size: 10px;
}

/*Rsk meter css*/
.gauge-wrapper {
    display: inline-block;
    width: auto;
    margin: 0 auto;
}
.gauge {
    background: #e7e7e7;
    box-shadow: 0 -3px 6px 2px rgba(0, 0, 0, 0.50);
    width: 140px;
    height: 70px;
    border-radius: 100px 100px 0 0 !important;
    position: relative;
    overflow: hidden;
}
.gauge.min-scaled {
    transform: scale(0.5);
}
.gauge-center {
    content: '';
    color: #fff;
    width: 60%;
    height: 60%;
    background: #15222e;
    border-radius: 100px 100px 0 0 !important;
    position: absolute;
    box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
    right: 21%;
    bottom: 0;
    color: #fff;
    /* z-index: 10; */
}
.gauge-center .label, .gauge-center .number {
    display: block;
    width: 100%;
    text-align: center;
    border: 0 !important;
}
.gauge-center .label {
    font-size: 0.75em;
    opacity: 0.9;
    margin: 5px 0px 0px;
}
.gauge-center .number {
    font-size: 0.7em;
}
.needle {
    width: 50px;
    height: 7px;
    background: #15222e;
    border-bottom-left-radius: 100% !important;
    border-bottom-right-radius: 5px !important;
    border-top-left-radius: 100% !important;
    border-top-right-radius: 5px !important;
    position: absolute;
    bottom: -2px;
    left: 18px;
    transform-origin: 100% 4px;
    transform: rotate(0deg);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
    /* z-index: 9; */
}
.four.rischio1 .needle {
    animation-delay: 1s;
}
.four.rischio1 .needle1 {
    animation: fourspeed1 2s 1 both;
}
.four.rischio1 .needle2 {
    animation: fourspeed2 2s 1 both;
}
.four.rischio1 .needle3 {
    animation: fourspeed3 2s 1 both;
}
.slice-colors {
    height: 100%;
}
.slice-colors .st {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 45px solid transparent;
}
.four .slice-colors .st.slice-item:nth-child(2) {
    border-top: 50px #fdc524 solid;
    border-right: 44px #fdc524 solid;
    background-color: #1eaa59;
}
.four .slice-colors .st.slice-item:nth-child(3) {
    left: 40%;
    border-bottom: 50px #e84c3d solid;
    border-right: 48px #e84c3d solid;
    background-color: #fdc524;
}
@-webkit-keyframes fourspeed1 {
    0% {
        transform: rotate(0);
   }
    100% {
        transform: rotate(25deg);
   }
}
@-webkit-keyframes fourspeed2 {
    0% {
        transform: rotate(0);
   }
    100% {
        transform: rotate(90deg);
   }
}
@-webkit-keyframes fourspeed3 {
    0% {
        transform: rotate(0);
   }
    100% {
        transform: rotate(155deg);
   }
}