/*Risk Score circle*/
.risk-score-circle {
  width: 33px;
  height: 33px;
  line-height: 24px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 600;
  color: #131313;
  text-align: center;
  background: none;
  position: relative;
  background: #fff;
}

.risk-score-circle-high {
  border: 5px solid #eb6058;
}

.risk-score-circle-medium {
  border: 5px solid #CBB649;
}

.risk-score-circle-low {
  border: 5px solid #3AA157;
}

.pulshing-circle-box {
  cursor: pointer;
  position: relative;
}
.pulshing-circle-box .pulshing-circle {
  display: none;
}
.pulshing-circle-box:hover .pulshing-circle {
  display: block;
}
.pulshing-circle {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  position: absolute;
  opacity: 0;
  -webkit-animation: scaleIn 4s cubic-bezier(.36, .11, .9, .72) infinite;
  animation: scaleIn 4s cubic-bezier(.36, .11, .9, .72) infinite;
  background: #a2a2a2;
}

.risk-bg-circle-high {
  background: #eb6058;
}
.risk-bg-circle-medium {
  background: #CBB649;  
}
.risk-bg-circle-low {
  background: #3AA157;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }

  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}